anacron job would run even if the system is down for some reason while normal cron job simplty just jump the halt period and move on ,which would prevent some jobs from running if they were scheduled to run in that particular period of time

unlike user specific,anacron use single file: /etc/anacrontab

anacran is not a service
cannot run a service restart

a anacron job definition has four sectors
#period in days | delay in minuts | job-identifier | command
example 

1    10    myjob ls -al /home/user
everyday | 10 minutes after sys boot | job name | specific command
anacron can only run at least once a day.
